@CHARSET "utf-8";

body {
	font: "맑은 고딕"
}
nav {
	width: 130px;
	border-right: 0px;
	float: left;
}
.rightFloat {
	float: right;
}
nav ul {
	list-style-type: none;

}
li {
	display:block;
	font-size:20px;
	
	padding-top: 20px;
}
li a {
	text-decoration:none;
	color:#000;
	border:1px solid rgb(18, 52, 86);
	border-radius:15px;
	padding:3px;
	background-color:#EEE;	
}
li a:hover{
			background-color:#AFF;	
		}
.loginForm {
	width: 300px;
}
header {
	border-bottom: 0px;
	padding: 30px;
}
iframe {

	width:500px;
	height:500px;
	border: 0;
}
.center {
	text-align: center;
}
table {
	width:100%;
}
.bookinfotable {
	width: 200px;
}

a:link {
    color: gray;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: red;  
    text-decoration: none;
}
a:active {
    color: yellow;
    text-decoration: none;
}
.foot {
	text-align:center;
}